.container {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h2 {
	font-size: 30px;
}

header {
	position: relative;
	background: white;
}

.logo {
	width: 100px;
	min-width: 100px;
}

.logo a {
	display: block;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu a:hover {
	text-decoration: none;
}

.header-holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#ch {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

#ch:checked ~ .menu {
	transform: translateX(0);
	background: #ffffff;
}


.burger {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
}

.burger span,
.burger::before,
.burger::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	background: #888888;
	border-radius: 2px;
	left: 50%;
	transform: translateX(-50%);
	transition: .5s;
}
#ch:checked ~ .burger span {
	opacity: 0;
}

#ch:checked ~ .burger::before,
#ch:checked ~ .burger::after {
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%)
}

#ch:checked ~ .burger::before {
	transform:translate(-50%,-50%) rotate(-45deg);
}

#ch:checked ~ .burger::after {
	transform:translate(-50%,-50%) rotate(45deg);
}

.burger span{
	top: calc(50% - 2px);
}
.burger::before{
	top: 0;
}
.burger::after{
bottom: 0;
}

.menu {
	position: absolute;
	right: 0;
	text-align: center;
	top: 100%;
	padding: 10px;
	width: 100%;
	transform: translateX(-100%);
	transition: all 1s;
}

.menu a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
	color: #555555;
}

.menu li {
	margin-top: 10px;
}

.menu a:hover {
	color: #5363db;
}

.trial {
	position: relative;
	margin-top: 15px;
	padding: 20px 10px 15px 10px;
	z-index: -1;
	min-width: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.trial::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #5363db;
	opacity: 0.8;
}

.two__block {
	position: relative;
	z-index: 1;
	padding: 15px;
}

.form {
	max-width: 300px;
	padding: 40px 30px;
	border-radius: 20px;
	background: #ffffff;
}

.form h3 {
	font-size: 25.7px;
	font-weight: 600;
	color: #5363db;
}

.form__size {
	margin-top: 25px;
	padding-right: 15px;
}

.form input,
.form select {
	display: block;
   width: 100%;
	padding: 14px;
	font-weight: 400;
	color: #888888;
	background-color: #f2f2f2;
	border: none;
	border-radius: 5px;
}

.text {
	margin-left: 0;
	width: 300px;
	padding: 15px;
	color: #ffffff;
}

.text h1 {
	line-height: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

.text p {
	font-family:'FREESCPT';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 400;
}


.btn {
margin-top: 25px;
display: inline-block;
vertical-align: top;
font-size: 16px;
position: relative;
line-height: 16px;
text-decoration: none;
color: #fff;
padding: 17px 65px;
border-radius: 10px;
font-weight: 700;
background: #5b6ceb;
transition: all 0.5s;
}

.list h2 {
	margin: 15px 0;
	text-align: center;
	line-height: 45px;
	font-weight: 700;
	text-transform: uppercase;
	color: #5b6ceb;
}

.list h4 {
	margin: 0;
	font-family:'FREESCPT';
	text-align: center;
	font-size: 41px;
	font-weight: 400;
	line-height: 61px;
	color: #777777;
}

.list__card {
	margin: 0;
	padding: 0;
}

.list__card li {
	margin: 20px 10px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	word-break: break-word;
	border-radius: 10px;
	box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.1);
}

.card__img {
	position: relative;
   min-width: 300px;
   min-height: 300px;
   background-repeat: no-repeat;
   background-size: cover;
}

.card__img img {
	min-width: 100%;
}

.card__text {
	padding: 20px 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #555555;
}

.card__text h3 {
	margin: 10px 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #777777;
}

.card__text a {
	text-decoration: none;
	color: #999999;
}

.card__text a:hover {
	color: #5b6ceb;
}


.gallery {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.gallery > li {
	width: 50%;
}

.gallery a {
	position: relative;
	display: block;
	padding-top: 55%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.gallery a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:#5b6ceb;;
	opacity: 0;
	transition: 1s;
}

.gallery a:hover:before {
	opacity: 0.5;
}

.gallery a::after {
	content: '\e986';
	font-family: 'icomoon';
	text-align: center;
	position: absolute;
	font-size: 20px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: cornsilk;
	color: #5b6ceb;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: .5s .5s;
}

.gallery a:hover::after {
	transform:translate(-50%, -50%) scale(1);
}

.section_5 {
	position: relative;
	margin-top: 25px;
	padding: 20px 10px 15px 10px;
	min-width: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.section_5::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #5363db;
	opacity: 0.8;
}

.section_5__list {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 2;
	list-style: none;
	color: #fff;
}

.section_5__list li {
	position: relative;
	margin-top: 45px;
	text-align: center;
	max-width: 320px;
	word-break: break-word;
}

.section_5__card-img {
	position: relative;
	text-align: center;
	min-width: 100px;
	min-height: 100px;
}

.section_5__card-img img {
	position: absolute;
   display: block;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.section_5__card-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.section_5__card-text p {
	justify-content: space-between;
	flex-grow: 2;
}

.section_5__card-text {
}

.section_5__card-img::after{
	content: '';
	text-align: center;
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: solid 2px #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section_5__card-text {
	line-height: 27px;
}


@media(min-width: 571px) {

	.section_5__list {
		display: flex;
		flex-wrap: wrap;
	}

	.section_5__list > li {
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
	}
}



@media(min-width: 768px) {
	.burger {
		display: none;
	}
	
	.header-holder {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu {
		position: static;
		display: flex;
		transform: none;
		width: auto;
	}

	.menu > li {
		padding: 5px 10px;
	}

	.two__block {
		display: flex;
		justify-content: center;
	}

	.trial {
		padding: 100px;
	}

	.form {
	
	}


	.text {
		margin-left: 50px;
		
	}

	.text h2 {
		font-size: 48px;
		line-height: 72px;
	}

	.text p {
		font-size: 40px;
	}

	.list {
		margin: 0 auto;
	}

	.list__card {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		.list__card li {
		display: flex;
		width: 45%;
	}

		.card__img {
		min-width: 50%;
		height: 100%;
		
	}

		.card__text {
		min-width: 50%;
		padding: 40px 20px;
	}

	.gallery {
		margin-top: 200px;
	}

	.gallery > li {
		width: 25%;
	}
	
	.section_5__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.section_5__list > li {
		width: 25%;
	}

}

@media(min-width: 992px) {

}


@font-face {
	font-family: 'icomoon';
	src: url(../fonts/icomoon.eot),
		url(../fonts/icomoon.ttf) format("truetype"),
		url(../fonts/icomoon.woff) format("woff"),
		url(../fonts/icomoon.svg) format('svg');
	font-weight: normal;
   font-style: normal;
   font-display: block;
}

@font-face {
	font-family: 'FREESCPT';
	src: url(../fonts/FREESCPT.eot), 
		url(../fonts/FREESCPT.ttf) format("truetype"),
		url(../fonts/FREESCPT.woff) format("woff"),
		url(../fonts/FREESCPT.woff2) format('woff2'),
		url(../fonts/FREESCPT.svg) format('svg');
	font-weight: normal;
   font-style: normal;
}



